* {
    box-sizing: border-box;
}

.slides {
    margin: 40px auto;
    width: 70%;
    border: 2px solid black;
    display: flex;
}

.slide1 {
    width: 100%;
    position: relative;
    background: white;
    color: black;
    font-size: 100px;
    font-family: sans-serif;
    border: 5px solid white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.captions {
    position: relative;
    height: 200px;
    width: 200px;
}

.caption {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--pink);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border: 5px solid white;
    padding: 20px;
    display: none;
}
.caption.active{display: block;}

/* .slide.next+.slide {
    transform: translateX(200%);
}

.slide.prev {
    z-index: 10;
    transform: translateX(-100%);
}

.slide.current {
    z-index: 10;
    transform: translateX(0);
}

.slide.next {
    z-index: 10;
    transform: translateX(100%);
} */

.controls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.slider img {
    text-align: center;
}